 p {
    color: black;
    font-family: "Monserrat";

  }

a {
  color: black;

  }
  
div {
    padding: 20px 20px 20px 0px;
    background-color: rgba(61,61,58,.5);
    border-radius: 30px;
    border-color: black;
    height:150px;
  }

  h1 {
    color: white;
    text-align: center;
    font-family: cursive;
    border: 2px solid white;
    padding: 10px 10px 10px 10px;
    background: rgba(64, 100, 255, .5);
    border-radius: 10px;
    margin-top: 10px;
    margin-right: 400px;
    margin-left: 400px;
  }